footer {
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55725D;
    min-height: 100px;
    position: sticky;
    top: 100%;
}