* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: antiquewhite;
  /* background-color: rebeccapurple; */
  height: 200vh;
}

.article-picture {
  /* height: 100vh; */
}

.calc-section {
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: space-between;
}

.calc {
  padding: 5rem;
}

.calc-result {
  color: gray;
  margin-top: 2rem;
}